@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

:root {
  --default: #ffffff;
  --neutral: #f5f5f5;
  --hero: #2196f3;
  --hero-tint: #0078d4;
  --border: #e0e0e0;
  --text: #333333;
  --dark: #000000;
  --softer-grey: #bdbdbd;
  --font-heading: "Oswald", sans-serif;
  --font-body: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 300ms ease-in;
  font-family: var(--dont-body);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-size: 1.4rem;
  color: var(--text);
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--neutral);
}

.general__container {
  max-width: 60rem;
  margin: 2rem auto;
  background-color: var(--default);
  padding: 1.6rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.4rem 0.4rem var(--border);
}

h1,
h2,
h3,
.header {
  font-family: var(--font-heading);
  font-weight: 700;
}

.header {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0;
}

.form-filter__box {
  position: relative;
}

/* Form Section */
.input__field {
  display: block;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
  width: 100%;
  font-size: 1.4rem;
  border: 0.1rem solid var(--border);
  border-radius: 0.3rem;
}

.input__field::placeholder {
  font-size: 1.4rem;
  padding: 1.5rem;
}

.add__btn {
  position: absolute;
  right: 0%;
  bottom: 0;
  transform: translate(0, -50%);
  font-size: 1.4rem;
  padding: 0.2rem 1.4rem;
  border-radius: 0.3rem;
  border: none;
  color: white;
  background-color: var(--hero);
  cursor: pointer;
}

.add__btn:hover {
  background-color: var(--hero-tint);
}

/* Filter Section*/
.filter__container {
  display: inline-flex;
  justify-content: right;
  gap: 1rem;
  width: 70%;
  border: 0.1rem solid var(--border);
  margin: 0.9rem 0;
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.btn__filter {
  border: 0.1 solid var(--border);
  font-weight: 100;
  font-size: 1.4rem;
  background: var(--default);
  color: var(--text);
  cursor: pointer;
}

.btn_all {
  color: var(--text);
}

.btn_active::first-letter {
  color: var(--text);
}

.btn_active,
.btn_completed {
  color: var(--softer-grey);
}

.active__filter {
  font-weight: bold;
  background: var(--neutral);
  color: var(--dark);
  text-decoration: underline;
  box-shadow: 0 0.2rem 0.2rem var(--border);
  transform: scaleX(1.05);
}

.active__filter:hover {
  background: var(--hero-tint);
  color: var(--default);
}

/* Bulk section */
.modal {
  width: 28rem;
  height: auto;
  max-height: 60vh;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  transform: translate(-10%, -50%);
  margin: 0 auto;
  z-index: 7;
}

.bulk__actions {
  margin-bottom: -1.5rem;
}

.menu-icon {
  cursor: pointer;
}

.bulk-btn_box {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 0.6);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem, 3.5rem;
  margin: 5rem, 2rem;
  border: none;
  background-color: #d3d3d380;
  color: #444;
  border-radius: 1rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.close-modal__btn {
  width: 2.4rem;
  font-size: 2.4rem;
  position: absolute;
}

.bulk_btn {
  font-weight: bold;
  font-size: 0.7rem;
  background: var(--hero);
  color: var(--text);
  cursor: pointer;
  padding: 0.5rem 1rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 7;
}

.bulk_btn:hover {
  transform: scaleY(1.05);
  background: var(--hero-tint);
  color: var(--default);
}

/* Task List Section */

.task-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.task-list__container {
  display: flex;
  justify-content: space-between;
  border: 0.1rem solid #e0e0e0;
  border-radius: 0.3rem;
  align-items: center;
  padding: 0 1rem;
}

.task-list__container + .task-list__container {
  border-top: none;
}

.pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.list__item {
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding: 0.5rem;
  font-weight: 600;
  border-bottom: 0.1rem solid var(--border);
}

button:focus {
  outline: 0.2rem solid var(--hero-tint);
}

.list__item.checked::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background: var(--softer-grey);
  transform: scaleX(0);
  transform-origin: left;
}

.list__item.checked::after {
  transform: scaleX(1);
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.icon path {
  fill: var(--softer-grey);
  stroke: var(--default);
}

.hide {
  display: none;
}

.checked {
  color: var(--softer-grey);
}

.checked path:first-child {
  fill: var(--hero);
}

.checked path:last-child {
  fill: var(--default);
  /* stroke: var(--default); */
}

.toggle_btn {
  cursor: pointer;
  transition: fill 0.2s;
}

.toggle_btn:hover {
  fill: var(--hero-tint);
  scale: 1.1;
}

.delete_btn {
  cursor: pointer;
}

.delete_btn:hover {
  transform: scaleY(1.2);
  fill: var(--text);
}
